@using FribergCarRentalsBravo.Sessions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FribergCarRentalsBravo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FribergCarRentalsBravo.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="main-header">
        <div style="text-align:center; margin-bottom: 0">
            <img class="side_image" src="/Graphics/FireSideLeft.webp" alt="SideFire" width="200" height="70">
            <img class="image" src="/Graphics/friberg_logo.webp" alt="Logo" width="100" height="125">
            <img class="side_image" src="/Graphics/FireSideRight.webp" alt="SideFire" width="200" height="70">
        </div>
        <nav id="nav-background" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div></div>
                    <div>
                        <ul class="navbar-nav flex-grow-1 justify-content-between">
                            @if (UserSessionHandler.IsAdminLoggedIn(ViewContext.HttpContext.Session))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Admin" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="AdminCustomer" asp-action="Index">Customers</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="AdminCarCategory" asp-action="Index">Car Categories</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="AdminCar" asp-action="Index">Cars</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="AdminOrder" asp-action="PendingCars">Pending Cars</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="AdminOrder" asp-action="Index">Orders</a>
                                </li>                            
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="CustomerOrder" asp-action="Book">Find Car</a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div>
                        <ul class="navbar-nav flex-grow-1 justify-content-between">
                            @if (UserSessionHandler.IsAdminLoggedIn(ViewContext.HttpContext.Session))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Logout">Logout</a>
                                </li>
                            }
                            else
                            {

                                @if (UserSessionHandler.IsCustomerLoggedIn(ViewContext.HttpContext.Session))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Index">Account</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Logout">Logout</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Authenticate">Register/Login</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container d-flex justify-content-between">
            <div></div>
            <div>
                &copy; 2024 - FribergCarRentalsBravo
            </div>
            <div></div>            
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
