@using FribergCarRentalsBravo.Models.Other
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="vertical-page-container">
    <div>
        <h1 class="error-text">Error!</h1>
        <h2 class="error-text">An error occurred while processing your request.</h2>
    </div>

@if (Model.ShowRequestId)
{
    <p class="text-align-center error-text">
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
    <p class="text-align-center error-text">
        Please contact support.
    </p>
}
</div>
