/*==================================================*/
/* Global Variables                                 */
/*==================================================*/
:root {

    /* The default box shadow */
  --default-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);

    /* The background color for filled boxes */
    --filled-box-background-color: #ddd;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*==================================================*/
/* Filled containers                                */
/*==================================================*/


/* Filled container */
.filled-container
{
  background-color: var(--filled-box-background-color);
  box-shadow: var(--default-box-shadow);  
}


/*==================================================*/
/* Forms                                            */
/*==================================================*/

.vertical-form-group
{
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
}  

/*==================================================*/
/* Tiled image gallery (Grid - Autocolumn)          */
/*==================================================*/

/* Tiled image gallery */
.tiled-image-gallery
{
    display: grid;
    grid-auto-rows: 300px;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    padding: 1rem;
}

/* Tiled image gallery - Auto rows */
.tiled-image-gallery.tiled-image-gallery__auto-rows
{
    grid-auto-rows: auto;
}

/* Tiled image gallery - Figure */
.tiled-image-gallery figure
{
    border-radius: 10px;
    box-shadow: var(--default-box-shadow);
    display: flex;
    height: 100%;
    margin: 0px;
    padding: 10px;
}

/* Tiled image gallery - Figure caption */
.tiled-image-gallery figcaption
{
    text-align: center;
}

/* Tiled image gallery - Grid gap */
.tiled-image-gallery.tiled-image-gallery__grid-gap__0
{
    grid-gap: 0px;
}

/* Tiled image gallery - Image */
.tiled-image-gallery img
{
    /*border-radius: 10px;*/
    height: 100%;
    object-fit: contain;
    width: 100%;
}

/* Tiled image gallery - Image size */
.tiled-image-gallery.tiled-image-gallery__image-size_medium
{
    grid-template-columns: repeat(auto-fit, minmax(180px, 400px));
}



.message.message-type__success {
    background-color: palegreen;
    border: 2px dotted black;
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: 400px;

}

.message-title, .message-x-button {
    font-weight: bold;
}

.message-title {
    float: left;
    margin-top: 30px;
    margin-left: 40px;
    font-size: larger;
}

.message-x-button {
    background-color: transparent;
    border-color: transparent;
    float: right;
    margin: 10px;
    margin-right: 15px;
}

.message-x-button:hover {
    color: orangered;
}

.message p {
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}