/*==================================================*/
/* Global Variables                                 */
/*==================================================*/
:root {

    /* The default box shadow */
    --default-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);

    /* The box shadow for hovered elements (navigation menu, buttons, etc) */
    --box-shadow-hover: 0px 0px 2px 1px #ff5600;

    /* The background color for filled boxes */
    --filled-box-background-color: #ddd;

    --default-orange-color: #df540f;
    --navigation-link-text-color: fff;

    --header-background-color: #68767b;
    --navigation-menu-header-background-color: #adadad;
    
    /*--action-element-hover-background-color: #999;*/
    --action-element-hover-background-color: #cc805b;

    

    --image-slider-button-color: var(--default-orange-color);
    --image-slider-button-hover-background-color: var(--navigation-menu-header-background-color);
    --image-slider-nav-dot-color:var(--default-orange-color);
    --image-slider-nav-dot-hover-color: var(--header-background-color);
    --image-slider-slide-caption-color: white;
    --image-slider-slide-caption-background-color: var(--default-orange-color);   
}

/*==================================================*/
/* Font                                             */
/*==================================================*/

html {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

:is(h1, h2, h3, h4, h5, h6) {
    text-align: center;
}

/*==================================================*/
/* Links                                            */
/*==================================================*/

.nav-link
{
    color: var(--navigation-link-text-color);
    font-size: 1.1rem;
    border-radius: 10px;
}

nav a:hover, .btn:hover
{
  background-color: var(--action-element-hover-background-color);
  box-shadow: var(--box-shadow-hover);
}

/*==================================================*/
/* Containers                                       */
/*==================================================*/

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #e3e3e3;
}

.main-header {
    background-color: var(--header-background-color);
}

#nav-background {
    background-color: var(--navigation-menu-header-background-color);
}

.vertical-page-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

/*==================================================*/
/* Filled containers                                */
/*==================================================*/

/* Filled container */
.filled-container
{
  background-color: var(--filled-box-background-color);
  box-shadow: var(--default-box-shadow);  
}

/*==================================================*/
/* Elements                                         */
/*==================================================*/

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/*==================================================*/
/* Forms                                            */
/*==================================================*/

.vertical-form
{
    display: flex;
    flex-direction: column;  
    row-gap: 0.5rem;
}

.vertical-form .form-buttons-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*.vertical-form label
{
    margin-bottom: 0.3rem;
}*/

.vertical-form .form-group
{
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
}

select.form-control {
    appearance: revert;
}

/*==================================================*/
/* Images                                           */
/*==================================================*/  

/* Image */
img
{
    object-fit: scale-down;
}

/* Image - Cover image */
img.cover-image
{
    border-radius: 10px;
    box-shadow: var(--default-box-shadow);
}

.side_image {
    margin-top: 2em;
}

/*==================================================*/
/* Image Slideshow                                  */
/*==================================================*/

/* Slideshow container */
.image-slideshow-container
{
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 0.5rem;
}

/* Slideshow container - Image */
.image-slideshow-container image
{
    max-height: 50vh;
}

/* Slideshow container - Image animation */
.image-slideshow-container .image-fade
{
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Slideshow container - Image animation - Keyframes */
@keyframes fade 
{
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* Slideshow container - Image slide */
.image-slideshow-container .image-slide
{
    border-radius: 10px;
    box-shadow: var(--default-box-shadow);
    display: none;
}

/* Slideshow container - Image slide - Active */
.image-slideshow-container .image-slide.active
{
    display: block;
}


/* Slideshow container - Image slide - Caption */
.image-slideshow-container .image-slide .image-slide-caption
{
    background-color: var(--image-slider-slide-caption-background-color);
	text-align: center;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	color: var(--image-slider-slide-caption-color);
}


/* Slideshow container - Image slide - Buttons */
.image-slideshow-container :is(.previous-slider-button, .next-slider-button)
{
    color: var(--image-slider-button-color);
    font-size: larger;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin-top: -2.9rem;
    padding: 1rem;
    position: absolute;
    top: 50%;
    transition: 0.6s ease;
    user-select: none;
    width: auto;
}

/* Slideshow container - Image slide - Buttons - Hover */
.image-slideshow-container :is(.previous-slider-button, .next-slider-button):hover
{
   background-color: var(--image-slider-button-hover-background-color);
}

/* Slideshow container - Image slide - Next button */
.image-slideshow-container :is(.next-slider-button)
{
  right: 0;
}

/* Slideshow container - Navigation dots */
.image-slideshow-container .navigation-dot 
{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  background-color: var(--image-slider-nav-dot-color);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Slideshow container - Navigation dots - Hover */
.image-slideshow-container :is(.navigation-dot.active, .navigation-dot:hover)
{
    background-color: #717171;
    background-color: var(--image-slider-nav-dot-hover-color);
}

/*==================================================*/
/* Tiled image gallery (Grid - Autocolumn)          */
/*==================================================*/

/* Tiled image gallery */
.tiled-image-gallery
{
    display: grid;
    grid-auto-rows: 300px;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    padding: 1rem;
}

/* Tiled image gallery - Auto rows */
.tiled-image-gallery.tiled-image-gallery__auto-rows
{
    grid-auto-rows: auto;
}

/* Tiled image gallery - Figure */
.tiled-image-gallery figure
{
    border-radius: 10px;
    box-shadow: var(--default-box-shadow);
    display: flex;
    height: 100%;
    margin: 0px;
    padding: 10px;
}

/* Tiled image gallery - Figure caption */
.tiled-image-gallery figcaption
{
    text-align: center;
}

/* Tiled image gallery - Grid gap */
.tiled-image-gallery.tiled-image-gallery__grid-gap__0
{
    grid-gap: 0px;
}

/* Tiled image gallery - Image */
.tiled-image-gallery img
{
    /*border-radius: 10px;*/
    height: 100%;
    object-fit: contain;
    width: 100%;
}

/* Tiled image gallery - Image size */
.tiled-image-gallery.tiled-image-gallery__image-size_medium 
{
    grid-template-columns: repeat(auto-fit, minmax(180px, 400px));
}

/*==================================================*/
/* Tables                                           */
/*==================================================*/

table {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-spacing: 1px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    caption-side: bottom;
}

.table tr:nth-child(odd) {
    background-color: #e3e3e3;
}

.table tr:nth-child(even) {
    background-color: #bbb9b9;
}

th {
    background-color: #bbb9b9 !important;
    border-top: 0.2em solid;
    border-top-color: #fdc53e;
    border-bottom: 0.2em solid;
    border-bottom-color: var(--default-orange-color);
    font-weight: bolder;
    padding: 0.5em;
}

tr {
    border-top: 0.2em solid;
    border-bottom: 0.2em solid;
    border-bottom-color: var(--default-orange-color);
    padding: 0.5em;
}

td {
    vertical-align: middle;
}

.td-end {
    padding-left: 0;
    padding-right: 1em;
}

.route-links-table {
    font-family: sans-serif;
    font-size: medium;
    font-weight: 600;
    color: #095b83;
}

.route-links-table:hover {
    color: #05344c;
}

/*==================================================*/
/* Lists                                            */
/*==================================================*/

dl {
    display: flex;
    max-width: 21em;
}

dt {
    flex-basis: 40%;
    text-align: center;
    border-bottom: 0.15em solid;
    border-bottom-color: #df540f;
    border-top: 0.15em solid;
    border-top-color: #df540f;
    padding: 0.4em;
    background-color: #bbb9b9;
}

dd {
    flex-basis: 60%;
    text-align: center;
    margin-bottom: 0;
    border-bottom: 0.15em solid;
    border-top: 0.15em solid;
    border-top-color: #df540f;
    border-bottom-color: #df540f;
    padding: 0.4em;
    background-color: #e3e3e3;
}

/*==================================================*/
/* Messages                                         */
/*==================================================*/

.message.message-type__success {
    background-color: #a0ca8b;
    border: 2px double green;
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: 400px;
    padding: 0;
}

.message-title, .message-x-button {
    font-weight: bold;
}

.message-title {
    float: left;
    margin-top: 15px;
    margin-left: 40px;
    font-size: larger;
}

.message-x-button {
    background-color: transparent;
    border-color: transparent;
    float: right;
    margin-right: 10px;
}

.message-x-button:hover {
    color: #df540f;
}

.message p {
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    text-align: center;
}

/*==================================================*/
/* Other                                            */
/*==================================================*/

.div-statistics-left {
    border-top: 0.2em solid;
    border-right: 0.2em solid;
    border-top-color: var(--default-orange-color);
    border-right-color: var(--default-orange-color);
   /* border-left-color: #df540f;*/
    /*border-right-color: #df540f;*/
    /*border-width: 2px;*/
    padding: 1em;
    width: 15em;
    height: 6em
}

.div-statistics-right {
    border-top: 0.2em solid;
    border-left: 0.2em solid;
    border-top-color: var(--default-orange-color);
    border-left-color: var(--default-orange-color);
    /* border-left-color: #df540f;*/
    /*border-right-color: #df540f;*/
    /*border-width: 2px;*/
    padding: 1em;
    width: 15em;
    height: 6em
}

.form-input-box {
    border-top: 0.2em solid;
    border-top-color: #fdc53e;
    border-bottom: 0.2em solid;
    border-bottom-color: var(--default-orange-color);
    margin: 0.2em;
}

.form-information {
    border-top: 0.2em solid;
    border-top-color: #fdc53e;
    border-bottom: 0.2em solid;
    border-bottom-color: var(--default-orange-color);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.colored-border-bottom
{
    border-bottom: 0.2em solid;
    border-bottom-color: #fdc53e;
    margin-bottom: 0
}

.colored-border-top
{
    border-top: 0.2em solid;
    border-top-color: var(--default-orange-color);
}

/*==================================================*/
/* Universal modifiers                              */
/*==================================================*/

/* Font size - Large */
.font-size_large
{
    font-size: large;
}

/* Font size - XLarge */
.font-size_x-large
{
    font-size: x-large;
}

/* Full width */
.full-width
{
  width: 100%;
}

/* Max height */
.max-height__50vh
{
    max-height: 50vh;
}