@using FribergCarRentalsBravo.Models.Cars
@model CreateCarCategoryViewModel

@{
    ViewData["Title"] = "Create category";
}

<div class="d-flex flex-column justify-content-center align-items-center">
<h1>Create Category</h1>
<hr />
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="d-flex flex-column gap-2">
                <div class="d-flex flex-column gap-1">
                    <label asp-for="CategoryName" class="control-label"></label>
                    <input asp-for="CategoryName" class="form-input-box form-control" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>


<div>
    <a class="route-links-table" asp-action="Index">Back to List</a>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
