@using FribergCarRentalsBravo.Models.Cars
@model CreateCarCategoryViewModel

@{
    ViewData["Title"] = "Create category";
}

<div class="vertical-page-container">
    <h1>Create Category</h1>
    <div class="col-md-3">
        <form class="vertical-form" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-buttons-container">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
