@using FribergCarRentalsBravo.Models.Cars
@model EditCarCategoryViewModel

@{
    ViewData["Title"] = "Edit";
}
<div class="d-flex flex-column justify-content-center align-items-center">
    <h1>Edit Category</h1>
    <hr />
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CarCategoryId" />
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control form-input-box" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-center">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div>
        <a class="route-links-table" asp-action="Index">Back to List</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
