@using FribergCarRentalsBravo.Models.Cars
@model EditCarCategoryViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="vertical-page-container">
    <h1>Edit Category</h1>
    <partial name="/Views/Shared/_UserMessages.cshtml" for="Messages" />
    <div class="col-md-4">
        <form class="vertical-form" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CarCategoryId" />
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-buttons-container">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
