@using FribergCarRentalsBravo.Models.Customers
@model LoginCustomerViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Login</h2>
<form class="vertical-form" asp-action="Login" class="vertical-form">
    <div class="form-group">
        <div asp-validation-summary="ModelOnly" class="error-text"></div>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input class="form-input-box" asp-for="Email" />
        <span asp-validation-for="Email" class="error-text"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input class="form-input-box" asp-for="Password" type="password" />
        <span asp-validation-for="Password" class="error-text"></span>
    </div>
    <div class="form-buttons-container">
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
</form>