@using FribergCarRentals.Models.Orders
@model EditOrderViewModel

@{
    ViewData["Title"] = "Edit Order";
}

<div class="vertical-page-container">
    <h1>Edit Order</h1>
    <partial name="/Views/Shared/_UserMessages.cshtml" for="Messages" />
    <dl class="row">
        <div class="d-flex flex-row">
            <dt>
                Order ID:
            </dt>
            <dd>
                @(Model.OrderId)
            </dd>
        </div>
        <div class="d-flex flex-row">
            <dt>
                Order Date:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OrderDate)
            </dd>
        </div>
    </dl>
    <div class="col-md-4">        
        <form class="vertical-form" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <input type="hidden" asp-for="OrderDate" />
            <div class="form-group">
                <label asp-for="PickupDate" class="control-label"></label>
                <input class="form-input-box form-control" type="date" asp-for="PickupDate" />
                <span asp-validation-for="PickupDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input class="form-input-box form-control" type="date" asp-for="ReturnDate" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostPerDay" class="control-label"></label>
                <input class="form-input-box form-control" type="number" asp-for="CostPerDay" />
                <span asp-validation-for="CostPerDay" class="text-danger"></span>
            </div>
            <div class="form-buttons-container">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div>
        <a class="btn btn-primary" asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
