@using FribergCarRentals.Models.Orders
@model EditOrderViewModel

@{
    ViewData["Title"] = "Edit Order";
}

<div class="d-flex flex-column justify-content-center align-items-center">
    <h1>Edit Order</h1>
    <hr />
    <div class="col-md-4">
        <dl>
            <div class="d-flex flex-row gap-2">
                <dt>
                    Order ID:
                </dt>
                <dd>
                    @(Model.OrderId)
                </dd>
            </div>
            <div class="d-flex flex-row gap-2">
                <dt>
                    Order Date:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderDate)
                </dd>
            </div>
        </dl>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <input type="hidden" asp-for="OrderDate" />
            <div class="form-group">
                <label asp-for="PickupDate" class="control-label"></label>
                <input type="date" asp-for="PickupDate" class="form-control" />
                <span asp-validation-for="PickupDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input type="date" asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostPerDay" class="control-label"></label>
                <input type="number" asp-for="CostPerDay" class="form-control" />
                <span asp-validation-for="CostPerDay" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-center">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
