@using FribergCarRentals.Models.Other
@using FribergCarRentalsBravo.Components
@using FribergCarRentalsBravo.Models.Other
@model ListViewModel<SlideShowImageViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="vertical-page-container">
    <h1>Browse our cars</h1>
         <div>
            @if (Model.Models.Count > 0)
            {
                @(await Component.InvokeAsync<CarImageSlideShow>(new
                {
                    images = Model.Models
                }))
            }           
        </div>    
        <div class="d-flex flex-column align-items-center">
        <p class="text-center no-margin">We have a fine selection of cars that you can rent right away.</p>
        <a class="btn btn-primary" asp-action="Book" asp-controller="CustomerOrder">Find your car</a>
        </div>
</div>

