@using FribergCarRentalsBravo.Models.Cars
@model CreateCarViewModel

@{
    ViewData["Title"] = "Create Car";
}

<div class="vertical-page-container">
    <h1>Create Car</h1>
    <div class="col-md-4">
        <form class="vertical-form" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SelectedCategoryId" class="control-label"></label>
                <select class="form-input-box" asp-for="SelectedCategoryId" asp-items="@(new SelectList(Model.Categories, nameof(CarCategoryViewModel.CategoryId), nameof(CarCategoryViewModel.CategoryName), Model.SelectedCategoryId))"></select>
                <span asp-validation-for="SelectedCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control form-input-box" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>           
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control form-input-box" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelYear" class="control-label"></label>
                <input asp-for="ModelYear" class="form-control form-input-box" />
                <span asp-validation-for="ModelYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control form-input-box" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationNumber" class="control-label"></label>
                <input asp-for="RegistrationNumber" class="form-control form-input-box" />
                <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentalCostPerDay" class="control-label"></label>
                <input type="number" asp-for="RentalCostPerDay" class="form-control form-input-box" />
                <span asp-validation-for="RentalCostPerDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadImages"></label>
                <input asp-for="UploadImages" multiple />
                <span asp-validation-for="UploadImages" class="error-text"></span>
            </div>
            <div class="form-buttons-container">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div>
        <a class="btn btn-primary" asp-action="Index">Back to List</a>
    </div>
</div>



@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
