@using FribergCarRentalsBravo.Models.Admin
@model AdminViewModel

@{
    ViewData["Title"] = "Admin";
}

<div class="vertical-page-container">
    <h1>Admin Panel</h1>
    <div class="col-md-5 text-center">        
        <h2>Info</h2>
        <p class="text-align-center">You can use the navigation at the top of the page to manage cars, customers and orders. More actions can be found in respective section.</p>
    </div>

    <div class="d-flex flex-column gap-3 align-items-center">
        <h2 class="colored-border-bottom">Statistics</h2>
        <h3 class="colored-border-top">Total amount of:</h3>

        <div class="d-flex flex-row gap-5">
            <div class="text-center">
                <div class="div-statistics-left">
                    <h5>Registered customers</h5>
                    <p class="font-size_x-large">@ViewBag.CustomerAmount</p>
                </div>
                <a class="route-links-table" asp-controller="AdminCustomer" asp-action="Index">-List of all customers-</a>
            </div>
            <div class="text-center">
                <div class="div-statistics-right">
                    <h5>Cars in the fleet</h5>
                    <p class="font-size_x-large">@ViewBag.CarAmount</p>
                </div>
                <a class="route-links-table" asp-controller="AdminCar" asp-action="Index">-List of all cars-</a>
            </div>
        </div>
        <div class="d-flex flex-row gap-5">
            <div class="text-center">
                <div class="div-statistics-left">
                    <h5>Car categories</h5>
                    <p class="font-size_x-large">@ViewBag.CarCategoryAmount</p>
                </div>
                <a class="route-links-table" asp-controller="AdminCarCategory" asp-action="Index">-List of all car categories-</a>
            </div>
            <div class="text-center">
                <div class="div-statistics-right">
                    <h5>Orders in the system</h5>
                    <p class="font-size_x-large">@ViewBag.OrderAmount</p>
                </div>
                <a class="route-links-table" asp-controller="AdminOrder" asp-action="Index">-List of all orders-</a>
            </div>
        </div>
    </div>

    <div class="col-md-7">
        <h2>Todays Pickups</h2>
        @await Component.InvokeAsync("TodaysPickupsList")
    </div>    
</div>
