@using FribergCarRentalsBravo.Models.Admin
@model AdminViewModel

@{
    ViewData["Title"] = "Admin";
}

<div class="vertical-page-container">
    <h1>Admin Panel</h1>
    <div class="col-md-5 text-center">        
        <h2>Info</h2>
        <p class="text-align-center">You can use the navigation at the top of the page to manage cars, customers and orders. More actions can be found in respective section.</p>
    </div>

    <div class="d-flex flex-column gap-3 align-items-center">
        <h2 class="colored-border-bottom">Statistics</h2>
        <h3 class="colored-border-top">Total amount of:</h3>

        <div class="d-flex flex-row gap-5">
            <div class="text-center div-statistics-left">
                <div class="div-statistics-title">
                    <h5>Customers</h5>
                </div>
                <div>
                   <p class="font-size_x-large">@ViewBag.CustomerAmount</p>
                </div>
                <div>
                    <a class="btn btn-primary" asp-controller="AdminCustomer" asp-action="Index">List customers</a>
                </div>                
            </div>
            <div class="text-center div-statistics-right">
                <div class="div-statistics-title">
                    <h5>Cars</h5>
                </div>
                <div>
                    <p class="font-size_x-large">@ViewBag.CarAmount</p>
                </div>                    
                <div>
                    <a class="btn btn-primary" asp-controller="AdminCar" asp-action="Index">List cars</a>
                </div>                
            </div>
        </div>
        <div class="d-flex flex-row gap-5">
            <div class="text-center div-statistics-left">
                <div class="div-statistics-title">
                    <h5>Car categories</h5>
                </div>
                <div>
                    <p class="font-size_x-large">@ViewBag.CarCategoryAmount</p>
                </div>
                <div>
                    <a class="btn btn-primary" asp-controller="AdminCarCategory" asp-action="Index">List car categories</a>
                </div>                
            </div>
            <div class="text-center div-statistics-right">
                <div class="div-statistics-title">
                    <h5>Orders</h5>                    
                </div>
                <div>
                    <p class="font-size_x-large">@ViewBag.OrderAmount</p>
                </div>
                <div>
                    <a class="btn btn-primary" asp-controller="AdminOrder" asp-action="Index">List orders</a>
                </div>                
            </div>
        </div>
    </div>

    <div class="col-md-7">
        <h2>Todays Pickups</h2>
        @await Component.InvokeAsync("TodaysPickupsList")
    </div>    
</div>
