@model FribergCarRentalsBravo.DataAccess.Entities.AdminUser

@{
    ViewData["Title"] = "Admin";
}

<div class="d-flex flex-column gap-2 align-items-center">
    <h1>Admin Panel</h1>
    <h2>Welcome to the admin panel '@(Model.Email)'!</h2>
    <p class="text-align-center">You can use the navigation at the top of the page to browse your cars, customers and orders. More actions can be found in respective section.</p>
</div>