@using FribergCarRentalsBravo.Models.Admin
@model LoginAdminViewModel

@{
    ViewData["Title"] = "Login";
}

<h1>Logged out</h1>
<p class="text-align-center">You must login to continue.</p>
<div class="vertical-flex-container flex-container__align-items-center filled-container flex-container__padding__1-rem ">
    <h2>Login</h2>
    <form asp-action="Login" class="vertical-form">
        <div class="vertical-form-field">
            <div asp-validation-summary="ModelOnly" class="error-text"></div>
        </div>
        <div class="vertical-form-field">
            <label asp-for="Email"></label>
            <input asp-for="Email" />
            <span asp-validation-for="Email" class="error-text"></span>
        </div>
        <div class="vertical-form-field">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" />
            <span asp-validation-for="Password" class="error-text"></span>
        </div>
        <div class="vertical-form-field">
            <button type="submit">Login</button>
        </div>
    </form>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
